@import "../../../../styles/vars";

.data-field--rich-text {
  //

  .tox {
    &-statusbar__branding {
      display: none;
    }

    .tox-toolbar,
    .tox-toolbar__overflow,
    .tox-toolbar__primary {
      background: none;
      border-bottom: $field-border;
    }

    .tox-toolbar__group,
    &-toolbar__group,
    &:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
      border-right: $field-border;
    }

    &-tinymce {
      border: $field-border;
    }

    .tox-statusbar {
      border-top: $field-border;
    }
  }
}
